[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-development
[submodule "phidgets_drivers"]
	path = phidgets_drivers
	url = https://github.com/ros-drivers/phidgets_drivers.git
	branch = foxy
