[submodule "phidgets_drivers"]
	path = phidgets_drivers
	url = https://github.com/ros-drivers/phidgets_drivers.git
	branch = humble
[submodule "imu_tools"]
	path = imu_tools
	url = https://github.com/CCNYRoboticsLab/imu_tools
	branch = humble
[submodule "nmea_navsat_driver"]
	path = nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
	branch = ros2
[submodule "YOLOv5-ROS"]
	path = YOLOv5-ROS
	url = https://github.com/Ar-Ray-code/YOLOv5-ROS.git
[submodule "bbox_ex_msgs"]
	path = bbox_ex_msgs
	url = https://github.com/Ar-Ray-code/bbox_ex_msgs.git
